<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head.ejs') %>
</head>

<body>
    <div class="container-scroller">
        <%- include('partials/_header.ejs') %>
            <div class="container-fluid page-body-wrapper">
                <%- include('partials/_rightbarColorWidget.ejs') %>
                    <%- include('partials/_sidebar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-12 grid-margin">
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
    </div>

    <%- include('partials/_base.ejs') %>
</body>

</html>