<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/_head.ejs') %>
</head>

<body>
    <div class="container-scroller">
        <%- include('partials/_header.ejs') %>
            <div class="container-fluid page-body-wrapper">
                <%- include('partials/_rightbarColorWidget.ejs') %>
                    <%- include('partials/_sidebar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-md-12 grid-margin">
                                        <div class="col-lg-12 grid-margin stretch-card">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Programs
                                                        <button class="btn btn-sm btn-primary float-right"
                                                            onclick="programModal.show()">New
                                                            Program</button>
                                                    </h4>
                                                    <div class="table-responsive mt-40">
                                                        <table class="table table-striped dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th width="10%">SNo.</th>
                                                                    <th>Name</th>
                                                                    <th width="10%">Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% programs.forEach((program, index)=> { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= index + 1 %>
                                                                        </td>
                                                                        <td>
                                                                            <%= program.name %>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/program/<%= program.id %> "
                                                                                class="btn btn-sm table-btn btn-success">View</a>
                                                                        </td>
                                                                    </tr>
                                                                    <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="programModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form action="/add-program" method="POST">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="programModalHeading">Program</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <label>Name of the program</label>
                                                    <input class="form-control" name="name" id="txtNameOfProgram">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-inverse-dark btn-sm"
                                                        onclick="programModal.hide()">Close</button>
                                                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
    </div>

    <%- include('partials/_base.ejs') %>
        <script>
            let programModal = new bootstrap.Modal($_('programModal'), { keyboard: false, backdrop: true });
        </script>
        <script src="/js/lms-scripts.js"></script>
</body>

</html>